{{#sortable-table
  tableClassNames="double-rows"
  bulkActions=false
  body=filtered
  sortBy=sortBy
  stickyHeader=stickyHeader
  fullRows=true
  search=false
  groupByKey=groupByKey
  groupByRef=groupByRef
  headers=headers as |sortable kind inst dt|
  }}
  {{#if (eq kind "row")}}
    <tr class="main-row">
      <td data-title="{{dt.name}}" class="clip">
        <a href="{{href-to "pipelines.pipeline" inst.id}}">{{inst.name}}</a>
      </td>
      <td data-title="{{dt.activity}}" class="clip text-muted">
        {{#if inst.activity}}
          {{inst.activity}}
        {{else}}
          N/A
        {{/if}}
      </td>
      <td data-title="{{dt.actions}}" class="actions">
        {{action-menu model=inst showPrimary=false}}
      </td>
    </tr>
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">There are no matched jobs</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">There are no jobs to show</td></tr>
  {{/if}}
{{/sortable-table}}
