<section class="header has-tabs clearfix">
  <h1 class="col span-5">
    <p style="margin:0;line-height:1.5" class="text-small">#{{model.activity.runSequence}}</p>
    <p style="margin:0;line-height:1" class="text-small text-italic text-muted">by {{model.activity.pipelineSource.name}}</p>
  </h1>

  <div class="right-buttons">
    <button class="btn bg-link btn-sm icon-btn p-0" {{action 'run'}} disabled={{disableRerun}}>
        <span class="darken"><i class="icon icon-refresh text-small"/></span>
        <span>Run Again</span>
    </button>
  </div>
</section>

<section class="pipeline-container">
  {{pipeline-stages pipeline=model.activity.pipelineSource stagesDraggable=false review=true model=model.activity.pipelineSource.stages}}
</section>

<div class="mt-40"></div>
<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>
      <a href="javascript:void(0);" class="{{if isHistory 'active'}} ember-view">Records</a>
    </li>
  </ul>
</section>

<section>
  {{#if filterdPiplineHistory.length}}
    {{!-- {{#accordion-list as |al expandFn| }} --}}
      {{#each filterdPiplineHistory as |activity|}}
        {{#accordion-list-item
          title=model.activity.repository
          detail=(concat-str model.activity.branch ' ' (sub-str model.activity.commitInfo 0 8) ' ' (date-str model.activity.start_ts) )
          status=model.activity.status
          statusClass=model.activity.status
          expandAll=true
          expand=(action expandFn)
          componentName='activity-table'
          className=(concat-str "header-pipeline" model.activities.status)
          as | parent |
        }}
        <div class="row">
          <div class="col span-4" style="display:inline-block;vertical-align: top;">
            {{pipeline-history-table
              stageInfo=model.activity.pipelineSource.stages
              body=activity.activity_stages
              stageIndexLog=model.stageIndex
              stepIndexLog=model.stepIndex
              showLogsActivity=(action "showLogsActivity")
              activity=model.activity
              sortBy=sortBy
              bulkActions=true
              search=true
              paging=true
              showHost=true
              showInstanceState=false
              groupByKey=groupBy
              groupByRef="stack"
            }}
          </div>
          <div class="col span-8 pull-right" style="display:inline-block;">
            {{pipeline/pipeline-logs
              instance=originalModel
              }}
          </div>
        </div>
        {{/accordion-list-item}}
      {{/each}}
    {{!-- {{/accordion-list}} --}}
  {{else}}
    <p class="text-center text-muted">No {{if isHistory 'History' 'Activity'}}</p>
  {{/if}}
</section>
