<section>
{{#accordion-list-item
  title='Schedule'
  detail='Schedule to trigger pipeline'
  status=(pretty-cron pipeline.triggerSpec 'toString')
  statusClass='bg-success clip pull-right inline'
  expandAll=null
  expand=(action expandFn)
}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Interval Pattern</label>
    <div class="pt-10"></div>
    <label class="mr-30">{{radio-button selection=schdulePattern value="custom"}}
        Custom(<a href="https://en.wikipedia.org/wiki/Cron" target="blank">Cron syntax</a>)
    </label>
    <label class="mr-30">{{radio-button selection=schdulePattern value="day"}}
        Every day (at 4:00am)
    </label>
    
    <div class="pt-10"></div>
    {{input class="form-control" disabled=schduleInputDisabled value=pipeline.triggerSpec}}
    {{#if pipeline.triggerSpec}}
      <p class="text-success mt-5 mb-0">{{pretty-cron pipeline.triggerSpec 'toString'}}</p>
    {{/if}}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Cron Timezone</label>
    <div class="pt-10"></div>
    {{#power-select
      options=timezones
      searchField="text"
      selected=selected
      onchange=(action (mut selected))
      as |timezone|
    }}
      {{timezone.text}}
    {{/power-select}}
  </div>
  
  <div class="pt-20"></div>
  <label>{{check-box class="form-control" checked=pipeline.triggerOnUpdate}}
    Run when there is new commit
  </label>
{{/accordion-list-item}}

<div class="box">
    <label>{{check-box class="form-control" checked=pipeline.isActivate}}
      Active
    </label>
</div>
</section>
