{{top-errors errors=errors}}

<section class="header clearfix">
  <div class="modal-pipeline-head">
    <h2>{{t (if editing 'newPipelineStep.header.edit' 'newPipelineStep.header.create')}}</h2>
    <br>
    <p class="text-muted">{{modalOpts.stageIndex}}. {{modalOpts.stageInfo}}</p>
  </div>
  {{#if editing}}
    {{#if (eq type 'scm')}}
    {{else}}
    <div class="right-buttons">
      <button class="btn bg-error" {{action 'remove'}}>
        {{t 'generic.remove'}}
      </button>
    </div>
    {{/if}}
  {{/if}}
</section>

{{pipeline/pipeline-step-form
    model=editingModels
    type=type
    editing=editing
    modalOpts=modalOpts
}}
{{save-cancel editing=editing createLabel="generic.add" save="add" cancel="cancel"}}
