{{#if (eq model.type 'task')}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>{{t 'newPipelineStep.jobType.image'}}{{field-required}}</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=model.image }}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>{{t 'newPipelineStep.jobType.task.command'}}</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=model.command }}
  </div>

  <div class="pt-30"></div>
  {{form-key-value
          initialMap=model.parameters
          changed=(action (mut model.parameters))
          allowEmptyValue=false
          editing=true
          normalHeader=(t 'newPipeline.build.variable')
          addActionLabel="newPipeline.build.add"
  }}
{{/if}}

{{#if (eq model.type 'catalog')}}
  
{{/if}}

{{#if (eq model.type 'deploy')}}
<div class="pt-20"></div>
<div class="noHeader">
  {{container/new-edit
    editing=false
    isService=true
    isUpgrade=upgrade
    primaryResource=model.service
    primaryService=model.service
    service=model.service
    launchConfig=launchConfig
    allHosts=model.allHosts
    configName=configName
  }}
</div>
{{/if}}