<div class="inline-form">
  <label>{{t 'newPipelineStep.jobType.label'}}</label>
  <div class="pt-10"></div>
  <div>
  {{new-select
    content=stepsTypeChoices
    optionLabelPath="id"
    optionValuePath="id"
    value=type
  }}
  </div>
</div>

{{#if (eq type 'scm')}}
  <section class="header has-tabs clearfix">
    <ul class="tab-nav">
      <li {{action "changeSCMType" 'git'}}>
        <a href="javascript:void(0);" class="{{if (eq selectedModel.sourceType 'git') 'active'}} ember-view">Git</a>
      </li>
      <li {{action "changeSCMType" 'github'}}>
        <a href="javascript:void(0);" class="{{if (eq selectedModel.sourceType 'github') 'active'}} ember-view">Github</a>
      </li>
    </ul>
  </section>
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Repository{{field-required}}</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=selectedModel.repository placeholder="https://github.com/rancher/ui.git"}}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Branch</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=selectedModel.branch placeholder="master"}}
  </div>

  {{#if (eq selectedModel.sourceType 'github')}}
    <div class="pt-20"></div>
    <div class="inline-form">
      <div class="pt-10"></div>
      <label>{{check-box class="form-control" checked=selectedModel.webhook}}
        Webhook
      </label>
    </div>
    {{#if selectedModel.webhook}}
      <div class="pt-20"></div>
      <div class="inline-form">
        <label>Token{{field-required}}</label>
        <div class="pt-10"></div>
        {{input class="form-control" value=selectedModel.token placeholder="Personal access token"}}
      </div>
    {{/if}}
  {{/if}}

{{/if}}

{{#if (eq type 'build')}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Source of Dockerfile</label>
    <div class="pt-10"></div>
    <label class="mr-30">{{radio-button selection=selectedModel.sourceType value="sc"}}
        Read from source code
    </label>
    <label class="mr-30">{{radio-button selection=selectedModel.sourceType value="file"}}
        Read from a file
    </label>
  </div>
  {{#if (eq selectedModel.sourceType 'file')}}
    <div class="pt-20"></div>
    {{pipeline/pipeline-input-code-file
      name="Dockerfile"
      canChangeName=false
      mode="dockerfile"
      value=selectedModel.file
      placeholder="newStack.dockerCompose.placeholder"
    }}
  {{else}}
    <div class="pt-20"></div>
    <div class="inline-form">
      <label>Dockerfile Path(relative to workspace){{field-required}}</label>
      <div class="pt-10"></div>
      {{input class="form-control" value=selectedModel.dockerfilePath placeholder="Personal access token"}}
    </div>
  {{/if}}

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Target Image{{field-required}}</label>
    <div class="pt-10"></div>
    {{!-- {{input class="form-control" value= placeholder="hello-world:latest"}}
    {{pipeline.images}} --}}
    {{input-suggest
      value=selectedModel.targetImage
      choices=pipeline.images
      placeholder="hello-world:latest"
    }}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <div class="pt-10"></div>
    <label>{{check-box class="form-control" checked=selectedModel.push}}
      Push
    </label>
  </div>
  {{#if selectedModel.push}}
    <div class="pt-20"></div>
    <div class="inline-form">
      <label>Username</label>
      <div class="pt-10"></div>
      {{input class="form-control" value=selectedModel.username placeholder="private registry username"}}
    </div>
    <div class="pt-20"></div>
    <div class="inline-form">
      <label>Password</label>
      <div class="pt-10"></div>
      {{input type="password" class="form-control" value=selectedModel.password placeholder="private registry password"}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq type 'task')}}
  {{pipeline/pipeline-step-task
    pipeline=pipeline
    selectedModel=selectedModel
  }}
{{/if}}

{{#if (eq type 'upgradeService')}}
  {{pipeline/pipeline-step-service
    pipeline=pipeline
    selectedModel=selectedModel
  }}
{{/if}}

{{#if (eq type 'upgradeStack')}}
  {{pipeline/pipeline-step-stack
    pipeline=pipeline
    selectedModel=selectedModel
  }}
{{/if}}

{{#if (eq type 'upgradeCatalog')}}
  {{pipeline/pipeline-step-catalog
    pipeline=pipeline
    selectedModel=selectedModel
    editing=editing
  }}
{{/if}}
