<section class="header has-tabs clearfix">
  <h1>{{t 'nav.pipelines.tab'}}</h1>

  <div class="right-buttons">
    {{#link-to "pipelines.new" classNames="btn btn-sm bg-primary mr-10"}}{{t 'nav.pipelines.add'}}{{/link-to}}
  </div>
</section>
<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>{{#link-to "pipelines.index"}}{{t 'nav.pipelines.active'}}{{/link-to}}</li>
    <li>{{#link-to "pipelines.index.inactive"}}{{t 'nav.pipelines.inactive'}}{{/link-to}}</li>
   {{!--  <li>{{#link-to "scaling-groups.index" projects.current.id}}{{t 'nav.containers.scalingGroups'}}{{/link-to}}</li> --}}
  </ul>

</section>


<section class="instances">
  {{outlet}}
</section>
