{{#sortable-table
  tableClassNames="double-rows"
  bulkActions=false
  body=filtered
  sortBy=sortBy
  stickyHeader=stickyHeader
  fullRows=true
  descending=descending
  search=false
  groupByKey=groupByKey
  groupByRef=groupByRef
  headers=headers as |sortable kind inst dt|
  }}
  {{#if (eq kind "row")}}
    <tr class="main-row">
      <td data-title="{{dt.name}}" class="clip">
        <a href="{{href-to "pipelines.activity" inst.id}}">
          <p class="clip">#{{inst.runSequence}}</p>
          <p>by {{inst.pipeline.name}}</p>
        </a>
      </td>
      <td data-title="{{dt.repository}}" class="clip text-muted">
        <p>{{inst.repository}}</p>
        <p>{{inst.branch}} <i class="icon icon-link text-small"></i> {{sub-str inst.commitInfo 0 8}}</p>
      </td>
      <td data-title="{{dt.time}}" class="clip text-muted">
        {{date-str inst.start_ts}}
      </td>
      <td data-title="{{dt.status}}" class="clip text-muted">
        <span class="badge-state">{{inst.status}}</span>
      </td>
      <td data-title="{{dt.actions}}" class="actions">
        {{action-menu model=inst showPrimary=false}}
      </td>
    </tr>
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'pipelinesPage.table.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'pipelinesPage.table.noData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
