<div class="pt-20"></div>
<div class="inline-form">
  <label>Stack Name {{field-required}}</label>
  <div class="pt-10"></div>
  {{input
    class="js-var-hint"
    value=selectedModel.stackName
    placeholder="stack name"
    disabled=(if (eq modalOpts.type 'review') true false)
  }}
</div>

<div class="pt-20"></div>
<section class="box mb-20">
<h4>Edit your Template Using CI parameters</h4>
<div class="tabs">
  <ul class="tab-header" role="tablist">
    <li role="tab" class="active"><a href="#">compose.yml {{copy-to-clipboard clipboardText=selectedModel.compose size="small"}}</a></li>
  </ul>

  <div role="tabpanel">
    <div>
      {{pipeline/pipeline-codemirror 
        value=selectedModel.compose 
        valueUpdated=(action (mut selectedModel.compose))
        options=(hash autofocus=true lineNumbers=true mode="yaml" tabSize="2" readOnly=(if (eq modalOpts.type 'review') true false))
      }}
    </div> 
  <p class="text-info text-small">You just need to write supplement of the compose file.</p>
  </div>
</div>

</section>

{{pipeline/pipeline-step-env-setting
  model=selectedModel
  modalOpts=modalOpts
}}