<section class="header has-tabs clearfix">
  <h1>{{model.pipeline.name}}</h1>

  <div class="right-buttons">
    <button class="btn bg-link icon-btn p-0">
        <span class="darken"><i class="icon icon-play text-small"/></span>
        <span>{{t 'pipelinesPage.run'}}</span>
    </button>
  </div>
</section>

<section>
  {{pipeline-stages stagesDraggable=true}}
</section>

<div class="mt-40"></div>
<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>
      <a href="javascript:void(0);" onclick={{action "setActiveTab" "activity"}} class="{{if isHistory '' 'active'}} ember-view">{{t 'nav.pipelines.stage.activity'}}</a>
    </li>
    <li>
      <a href="javascript:void(0);" onclick={{action "setActiveTab" "history"}} class="{{if isHistory 'active'}} ember-view">{{t 'nav.pipelines.stage.history'}}</a>
    </li>
  </ul>
</section>

<section>
  {{#accordion-list as |al expandFn| }}
    {{#each filterdPiplineHistory as |activity|}}
      {{#accordion-list-item
           title=model.pipeline.repository
           detail=model.pipeline.branch
           status=activity.status
           statusClass=(if instances.length 'bg-success' 'text-muted')
           expandAll=al.expandAll
           expand=(action expandFn)
           componentName='container-table'
           as | parent |
      }}
        {{pipeline-history-table
          body=activity.activity_stages
          sortBy=sortBy
          bulkActions=true
          search=true
          paging=true
          showHost=true
          showInstanceState=false
          groupByKey=groupBy
          groupByRef="stack"
      }}
      {{/accordion-list-item}}
    {{/each}}
  {{/accordion-list}}
</section>