<section class="header has-tabs clearfix">
  <h1>{{model.pipeline.name}}</h1>

  <div class="right-buttons">
    {{#link-to "catalog-tab" classNames="btn btn-sm bg-primary mr-10"}}{{t 'nav.pipelines.stage.add'}}{{/link-to}}
  </div>
</section>
<section style="height: 100px; text-align:center;" class="header has-tabs clearfix">
  Placeholder For Pipeline
</section>

<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>
      <a href="javascript:void(0);" class="ember-view">{{t 'nav.pipelines.stage.activity'}}</a>
    </li>
    <li>
      <a href="javascript:void(0);" class="active ember-view">{{t 'nav.pipelines.stage.history'}}</a>
    </li>
  </ul>
</section>

{{#if isActivity}}
<section>
  activity
</section>
{{/if}}

{{#if isHistory}}
<section>
  {{#accordion-list as |al expandFn| }}
    {{#each model.activities as activity}}
      {{#accordion-list-item
           title=model.pipeline.repository
           detail=model.pipeline.branch
           status=activity.status
           statusClass=(if instances.length 'bg-success' 'text-muted')
           expandAll=al.expandAll
           expand=(action expandFn)
           componentName='container-table'
           as | parent |
      }}
        {{pipeline-history-table
          body=filtered
          sortBy=sortBy
          bulkActions=true
          search=true
          paging=true
          showHost=true
          showInstanceState=false
          groupByKey=groupBy
          groupByRef="stack"
      }}
      {{/accordion-list-item}}
    {{/each}}
  {{/accordion-list}}
</section>
{{/if}}