<section>
  {{#each waitingForApproval as |approval|}}
    <div class="pipeline-approval-tip">
      <div class="approval-head">
        <span class="head-content">Waiting Approval</span>
      </div>
      <div class="approval-content">
        <span class="content-text">
            User({{approval.approversName}}) need to approve Stage <span class="text-info">{{approval.pendingStageName}}</span> of <a href="{{href-to "pipelines.activity" approval.id}}"> #{{approval.runSequence}} by {{approval.pipelineSource.name}}</a>
        </span>
        {{#if approval.actionLinks.approve}}
          <div class="approval-actions" style="padding-bottom: 0">
            <a class="mr-10 text-error" href="javascript:void(0);" {{action "sendAction" approval "deny"}} style="color: red"><i class="icon icon-thumbs-down"></i>&nbsp;Deny</a>
            <a class="text-success" href="javascript:void(0);" {{action "sendAction" approval "approve"}} ><i class="icon icon-thumbs-up"></i>&nbsp;Approve</a>
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</section>

<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>{{#link-to "pipelines.ready.activities" (query-params status="all")}}All{{/link-to}}</li>
    <li>{{#link-to "pipelines.ready.activities" (query-params status="running") replace=true}}Running{{/link-to}}</li>
    <li>{{#link-to "pipelines.ready.activities" (query-params status="Success") replace=true}}Success{{/link-to}}</li>
    <li>{{#link-to "pipelines.ready.activities" (query-params status="Fail") replace=true}}Fail{{/link-to}}</li>
  </ul>
  <div class="right-buttons">
    <button class="btn bg-link btn-sm icon-btn p-0" {{action "runPipelines"}}>
      <span class="darken"><i class="icon icon-play text-small"/></span>
      <span>Run pipeline</span>
    </button>
  </div>
</section>

<section class="instances">
  {{pipeline-table
      body=filtered
      sortBy=sortBy
      bulkActions=true
      search=true
      paging=true
      showHost=true
      descending=descending
    }}
</section>
