
<div class="pt-20"></div>
<div class="inline-form">
  <div class="pt-10"></div>
  <label>{{check-box class="form-control" checked=selectedModel.isService}}
    As a Service
  </label>
</div>
{{#if selectedModel.isService}}
<div class="pt-20"></div>
<div class="inline-form">
  <label>Name{{field-required}}</label>
  <div class="pt-10"></div>
  {{input
    class="js-var-hint"
    value=selectedModel.alias
    placeholder="mysql"
  }}
</div>
{{/if}}
<div class="pt-20"></div>
<div class="inline-form">
  <label>{{t 'newPipelineStep.jobType.image'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input-suggest
    value=selectedModel.image
    choices=pipeline.images
    placeholder="hello-world:latest"
  }}
</div>

<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li {{action "changeTaskModel" true}}>
      <a href="javascript:void(0);" class="{{if (eq selectedModel.isShell true) 'active'}} ember-view">Shell Script</a>
    </li>
    <li {{action "changeTaskModel" false}}>
      <a href="javascript:void(0);" class="{{if (eq selectedModel.isShell false) 'active'}} ember-view">Custom Entrypoint</a>
    </li>
  </ul>
</section>

{{#if selectedModel.isShell}}
  <div class="inline-form">
    <label>{{t 'newPipelineStep.jobType.task.command'}}(shell)</label>
    <div class="pt-10"></div>
    {{ivy-codemirror
      value=selectedModel.command
      valueUpdated=(action (mut selectedModel.command))
      options=(hash autofocus=true theme="monokai" lineNumbers=true mode="shell" addon="hint/anyword-hint.js")
      }}
  </div>
{{else}}
  <div class="inline-form">
    <label>EntryPoint</label>
    <div class="pt-10"></div>
    {{input
      value=selectedModel.entrypoint
      placeholder="If you want use the default entrypoint, just leave me empty"
    }}
  </div>
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Command</label>
    <div class="pt-10"></div>
    {{input
      value=selectedModel.args
      placeholder="Arguments of entrypoint"
    }}
  </div>
{{/if}}


<div class="pt-30"></div>
{{form-key-value
  initialMap=selectedModel.parameters
  changed=(action (mut selectedModel.parameters))
  allowEmptyValue=false
  editing=true
  normalHeader=(t 'newContainer.environment.label')
  addActionLabel="newContainer.environment.addAction"
  keyLabel="newContainer.environment.keyLabel"
  keyPlaceholder="newContainer.environment.keyPlaceholder"
  valueLabel="newContainer.environment.valueLabel"
  valuePlaceholder="newContainer.environment.valuePlaceholder"
}}
