{{#accordion-list className="test" as |al expandFn| }}
  {{#each filtered as |stage| }}
    {{#accordion-list-item-pipeline
             title=stage.name
             status=stage.status
             date=(date-str stage.start_ts)
             statusClass=stage.status
             expandAll=al.expandAll
             expand=(action expandFn)
             componentName='container-table'
             as | parent |
        }}
        {{#each stage.activity_steps as |step|}}
          <div class="accordion-header header-pipeline item" class={{step.status}}>
            <div class="title">
              <span class="text-cell">{{step.name}}</span>
              <span class="text-cell">
                <i class="icon" class={{pipeline-status-to-icon step.status}}></i>&nbsp;{{step.status}}
              </span>
              <span class="text-cell">
                {{step.message}}
              </span>
            </div>
            <div class="badge-state">
              <i class="icon icon-cross text-small"></i>{{date-str step.start_ts}}
            </div>
          </div>
        {{/each}}
    {{/accordion-list-item-pipeline}}
  {{/each}}
{{/accordion-list}}