<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    {{!-- <li {{action "changeSCMType" 'git'}}>
      <a href="javascript:void(0);" class="{{if (eq selectedModel.sourceType 'git') 'active' (if (eq modalOpts.type 'review') 'hide')}} ember-view">Git</a>
    </li> --}}
    <li {{action "changeSCMType" 'github'}}>
      <a href="javascript:void(0);" class="{{if (eq selectedModel.sourceType 'github') 'active' (if (eq modalOpts.type 'review') 'hide')}} ember-view">Github</a>
    </li>
  </ul>
</section>
{{#if (eq selectedModel.sourceType 'git')}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Repository{{field-required}}</label>
    <div class="pt-10"></div>
      {{input class="form-control" value=selectedModel.repository placeholder="https://github.com/rancher/ui.git" disabled=(if (eq modalOpts.type 'review') true false)}}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Branch {{field-required}}</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=selectedModel.branch placeholder="master" disabled=(if (eq modalOpts.type 'review') true false)}}
  </div>
{{/if}}

{{#if (eq selectedModel.sourceType 'github')}}
  {{#if statusFetching}}
    <i class="icon icon-spinner icon-spin"></i>
  {{else}}
    {{#if showBranch}}
      <div class="pt-20"></div>
      <div class="inline-form">
        <label>User{{field-required}}</label>
        <div class="pt-10"></div>
        {{#if (eq modalOpts.type 'review')}}
          {{input class="form-control" value=selectedModel.gitUser disabled=(if (eq modalOpts.type 'review') true false)}}
        {{else}}
          {{#power-select
            options=accountsInfo
            searchField="login"
            selected=selectedGitUser
            onchange=(action (mut selectedGitUser))
            as |account|
          }}
            {{#identity-block identity=account}}
            {{/identity-block}}
          {{/power-select}}
        {{/if}}
      </div>

      <div class="pt-20"></div>
      <div class="inline-form">
        <label>Repository{{field-required}}</label>
        <div class="pt-10"></div>
        {{#if (eq modalOpts.type 'review')}}
          {{input class="form-control" value=selectedModel.repository disabled=(if (eq modalOpts.type 'review') true false)}}
        {{else}}
          {{#if repoFetching}}
            <i class="icon icon-spinner icon-spin"></i>
          {{else}}
            {{#power-select
              options=repos
              searchField="clone_url"
              selected=selected
              onchange=(action (mut selected))
              as |repo|
            }}
              {{repo.clone_url}}
            {{/power-select}}
          {{/if}}
        {{/if}}
      </div>
      <div class="pt-20"></div>
      <div class="inline-form">
        <label>Branch{{field-required}}</label>
        <div class="pt-10"></div>
        {{input class="form-control" value=selectedModel.branch placeholder="master" disabled=(if (eq modalOpts.type 'review') true false)}}
      </div>
      <div class="pt-20"></div>
      <div class="inline-form">
        <div class="pt-10"></div>
        <label>
          {{#if selected.permissions.admin}}
            {{check-box class="form-control" checked=selectedModel.webhook disabled=(if (eq modalOpts.type 'review') true false) }}
          {{else}}
            <i class="icon icon-close text-warning"></i>
          {{/if}}
          Webhook
        </label>
        {{#tooltip-element 
          type="tooltip-basic"
          model="This option is used to enable webhook, which will trigger pipeline when there is a new push."
          tooltipTemplate='tooltip-static'
          aria-describedby="tooltip-base"
          tooltipFor="audit-log"}}
          <i class="icon icon-help text-info"></i>
        {{/tooltip-element}}
        {{#if (not-eq selected.permissions.admin true)}}
          <div class="banner bg-warning">
            <div class="banner-icon"><span class="icon icon-alert"></span></div>
            <div class="banner-message">
              <p>no permissions</p>
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
      <p>Please finish the OAuth of GitHub in {{#link-to "pipelines.ready.settings" target="_blank"}}setting page{{/link-to}} first.</p>
      <p class="text-warning">Note: Have finished the OAuth? <a href="javascript:void();" {{action "reload"}}>click here</a> to load your repository</p>
    {{/if}}
  {{/if}}
{{/if}}



