<div class="pt-20"></div>
<div class="inline-form">
  <label>Source of Dockerfile</label>
  <div class="pt-10"></div>
  <label class="mr-30">{{radio-button selection=selectedModel.sourceType value="sc" disabled=(if (eq modalOpts.type 'review') true false)}}
      Read from source code
  </label>
  <label class="mr-30">{{radio-button selection=selectedModel.sourceType value="file" disabled=(if (eq modalOpts.type 'review') true false)}}
      Read from a file
  </label>
</div>
{{#if (eq selectedModel.sourceType 'file')}}
  <div class="pt-20"></div>
  {{#if (eq modalOpts.type 'review')}}
    {{pipeline/pipeline-codemirror
      value=selectedModel.file
      valueUpdated=(action (mut selectedModel.file))
      options=(hash autofocus=true theme="monokai" lineNumbers=true mode="dockerfile" addon="hint/anyword-hint.js" readOnly=(if (eq modalOpts.type 'review') true false))
    }}
  {{else}}
    {{pipeline/pipeline-input-code-file
      name="Dockerfile"
      canChangeName=false
      mode="dockerfile"
      value=selectedModel.file
      placeholder="newStack.dockerCompose.placeholder"
    }}
  {{/if}}
{{else}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Dockerfile Path(relative to workspace){{field-required}}</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=selectedModel.dockerfilePath placeholder="Personal access token" disabled=(if (eq modalOpts.type 'review') true false)}}
  </div>
{{/if}}

<div class="pt-20"></div>
<div class="inline-form">
  <label>Image Tag{{field-required}}</label>
  <div class="pt-10"></div>
  {{#if (eq modalOpts.type 'review')}}
    {{input class="form-control" value=selectedModel.targetImage placeholder="hello-world:latest" disabled=(if (eq modalOpts.type 'review') true false)}}
  {{else}}
    {{input-suggest
      value=selectedModel.targetImage
      choices=pipeline.images
      placeholder="hello-world:latest"
    }}
  {{/if}}
</div>

<div class="pt-20"></div>
<div class="inline-form">
  <div class="pt-10"></div>
  <label>
    {{#if detectingPush}}
      <i class="icon icon-spinner icon-spin"></i>
    {{else}}
      {{check-box class="form-control" checked=selectedModel.push 
        disabled=(if (eq modalOpts.type 'review') true (if selectedModel.targetImage false true))
      }}
    {{/if}}
    Push {{#if (not-eq detectingPush true)}}{{#if selectedModel.push}}{{#if matchedRegistry}} <i class="icon icon-check text-success"></i> {{else}} <i class="icon icon-x text-error"></i> {{/if}}{{/if}}{{/if}}
  </label>
</div>
{{#if selectedModel.push}}
  {{!-- <div class="pt-20"></div>
  <div class="inline-form">
    <label>Username</label>
    <div class="pt-10"></div>
    {{input class="form-control" value=selectedModel.username placeholder="private registry username" disabled=(if (eq modalOpts.type 'review') true false)}}
  </div>
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>Password</label>
    <div class="pt-10"></div>
    {{input type="password" class="form-control" value=selectedModel.password placeholder="private registry password" disabled=(if (eq modalOpts.type 'review') true false)}}
  </div> --}}
  {{#if matchedRegistry}}
    <p class="text-info">This image will be pushed to <code>{{matchedRegistry.serverAddress}}</code></p>
  {{else}}
    <p class="text-error">The registry <code>{{resolvedRegistry}}</code> haven't been authenticated, click {{#link-to "registries.new" target="_blank"}}here{{/link-to}} to authenticate it.</p>
  {{/if}}
{{/if}}