<div class="pipeline-steps">
  <div class="steps-line"></div>
  <div class="steps-head-dot js-dragHandle"></div>
  <div class="steps-wrap">
    {{#if stepsDraggble}}
      {{#sortable-objects class=sortingScope sortableObjectList=model sortEndAction='sortEndAction' enableSort=true sortingScope=sortingScope}}
        {{#each model as |item|}}
          {{#draggable-object class="step-content {{stageId}}" content=item overrideClass='sortObject' isSortable=true sortingScope=sortingScope}}
              <div class="step-name text-muted">{{item.id}}</div>
          {{/draggable-object}}
        {{/each}}
      {{/sortable-objects}}
    {{else}}
      {{#each model as |item|}}
        <div class="step-content">
          <div class="step-name text-muted">{{item.id}}</div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  {{#if editable}}
  <div class="step-add step-content">
    <a href="javascript:void(0);" class="text-small">
      {{t 'pipelineDetail.addStep'}}
    </a>
  </div>
  {{/if}}
</div>
