{{#if (eq model.type 'scm')}}
  <p class="mt-0 mb-0 clip">{{upper-case model.type}}: {{model.repository}}</p>
  <p class="text-small mt-0 mb-0 clip italian text-italic">{{model.branch}}</p>
{{/if}}

{{#if (eq model.type 'task')}}
  <p class="mt-0 mb-0 clip">{{upper-case model.type}}: {{model.image}}</p>
  <p class="text-small mt-0 mb-0 clip text-italic">{{model.command}}</p>
{{/if}}

{{#if (eq model.type 'build')}}
  <p class="mt-0 mb-0 clip">{{upper-case model.type}}: {{model.tag}}</p>
  <p class="text-small mt-0 mb-0 clip text-italic">
    {{#if model.push}}
      push
    {{else}}
      --
    {{/if}}
  </p>
{{/if}}

{{#if (eq model.type 'catalog')}}
  <p class="mt-0 mb-0 clip">{{upper-case model.type}} {{model.name}}</p>
  <p class="text-small mt-0 mb-0 clip text-italic">{{model.environment}}</p>
{{/if}}

{{#if (eq model.type 'deploy')}}
  <p class="mt-0 mb-0 clip">{{upper-case model.type}} {{model.deployName}} * {{model.count}}</p>
  <p class="text-small mt-0 mb-0 clip text-italic">{{model.deployEnvironment}}</p>
{{/if}}
